<%= form_with model: [ @article, @article.comments.build ] do |form| %>
    <p>
        <%= form.label :commenter%>
        <%= form.text_field :commenter, class: "form-control" %>
    </p>

    <p>
        <%= form.label :body %>
        <%= form.text_field :body, class: "form-control" %>
    </p>

    <p>
        <%= form.submit class: "btn btn-success" %>
    </p>

    <p>
        <%= form.label :status %><br>
        <%= form.select :status, ['public', 'private', 'archived'], class:"dropdown-item", selected: 'public' %>
    </p>
<% end %>
